@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tider</h2>
<table class="booking table" style="width:100%">
    <tr>
        <th>Dato</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Pris</th>
    </tr>
    <tr>
        <td>
            <input type="text" name="dato"
        </td>
        <td>
            <input type="text" name="start"
        </td>
        <td>
            <input type="text" name="slut"
        </td>
        <td>
            <input type="text" name="pris"
        </td>
    </tr>
</table>
<button>Tilføj</button>
