@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bookinger</h2>

<table class="booking table" style="width:100%">
    <tr>
        <th>Dato</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Repræsentant</th>
        <th>Status</th>
        <th>Emne</th>
        <th>Ansat</th>
        <th>Firma</th>
        <th></th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Alfreds Futterkiste</td>
        <td>Germany</td>
        <td><button>Læs Mere</button></td>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Alfreds Futterkiste</td>
        <td>Germany</td>
        <td><button>Læs Mere</button></td>
    </tr>
</table>