@using BookingSystem3.Data
@model IEnumerable<ApplicationUser>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Brugere</h2>

<table class="brugere table" style="width:100%">
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Rettigheder</th>
        <th>Firma</th>
        <th></th>
        <th></th>

    </tr>
    @foreach (ApplicationUser user in Model)
    {
    <tr>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        <td>@user.PhoneNumber</td>
        <td>Role</td>
        <td>@user.Company</td>
        <td><a href="/admin/editUser/@user.Id">Læs mere</a></td>
        <td><a href="/admin/deleteUser/@user.Id">Slet</a></td>
    </tr>
    }
</table>