@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Brugere</h2>

<table class="brugere table" style="width:100%">
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Password</th>
        <th>Firma</th>
       
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
</table>