@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Brugere</h2>

<table class="brugere table" style="width:100%">
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Password</th>
        <th>Firma</th>
        <th></th>

    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria@Anders</td>
        <td>1111111</td>
        <td>************</td>
        <td>Bilka</td>
        <td><button>Læs Mere</button></td>
    </tr>
</table>