@model IEnumerable<BookingSystem3.Models.Customer>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Brugere</h2>

<table class="brugere table" style="width:100%">
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Password</th>
        <th>Firma</th>

    </tr>
    @foreach (Customer user in Model)
    {
        <tr>
            <td>@user.name.ToString()</td>
            <td>@user.email.ToString()</td>
            @*<td>@user.phone.ToString()</td>*@
            <td>@user.userCredentials.ToString()</td>
            <td><a href="/admin/editUser/@user.customerID">Læs mere</a></td>
        </tr>
    }
</table>