@model BookingSystem3.Models.Customer
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rediger bruger</h2>


<style>
    form {
        padding-left: 5%;
    }

    table input, table select, table textarea {
        width: 100%;
    }
</style>

<form method="post">
    <table>
        <tr>
            <td><label asp-for="customerID">BrugerID</label></td>
            <td><input type="text" /></td>
            <td><a>Rediger</a></td>
        </tr>
        <tr>
            <td><label asp-for="name">Navn</label></td>
            <td><input type="text" /></td>
            <td><a>Rediger</a></td>
        </tr>
        <tr>
            <td><label asp-for="email">Email</label></td>
            <td><input type="email" /></td>
            <td><a>Rediger</a></td>
        </tr>
        <tr>
            <td><label>Tlf</label></td>
            <td><input type="tel" /></td>
            <td><a>Rediger</a></td>
        </tr>
        <tr>
            <td><label asp-for="userCredentials">Fakturerings oplysninger</label></td>
            <td><input type="text" /></td>
            <td><a>Rediger</a></td>
        </tr>
        <tr>
            <td><label>Firma</label></td>
            <td><input type="text" /></td>
            <td><a>Rediger</a></td>
        </tr>
        <tr>
            <td><label>Rettigheder</label></td>
            <td>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </td>
            <td><a>Rediger</a></td>
        </tr>
    </table>

    <input type="submit" class="submit" title="tilføj" />
</form>