@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tider</h2>

<table class="tider table" style="width:100%">
    <tr>
        <th>Dato</th>
        <th>Start</th>
        <th>Slut</th>
        <th>Pris</th>
        
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
</table>