@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <center> <h1>Sign Up</h1> </center>
    <form class="loginForm">
        <div class="loginContainer">
            <input type="text" placeholder="Enter Username" name="username" required>
            <input type="password" placeholder="Enter Password" name="password" required>
            <input type="text" placeholder="Enter Full Name" name="fullName" required>
            <input type="text" placeholder="Enter Company Name" name="companyName" required>
            <input type="text" placeholder="Enter Email" name="email" required>
            <input type="text" placeholder="Enter Phone Number" name="phoneNumber" required>
            <button type="button" class="signupbtn"> Signup</button>
            <div class="seperator">
                @*<div class="leftLine"></div>*@
                <div class="orLabel">OR</div>
                @*<div class="rightLine"></div>*@

                @*<img src="~/Images/Seperator.png"/>*@
            </div>
                <button type="submit">Login</button>
        </div>
    </form>
</body>