@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p><b id="ManglerDuEnKonsulent">Mangler du en konsulent?</b></p>

    <input id="BookButton" type="button" value="Book nu" onclick="location.href='/Booking'" />

</div>
