@using Newtonsoft.Json
@model BookingSystem3.Models.BookingPageViewModel
@{
}
<head>
	<link rel="stylesheet" href="~/css/Calendar.css" />
</head>
<h1>CSS Calendar</h1>
<div class="bookingContainer">
	<div class="calendar">
		<div class="month">
			<ul>
				<li class="prev"><span class="arrow" style="cursor: pointer;" onclick="prevMonth()">&#10094;</span></li>
				<li class="next"><span class="arrow" style="cursor: pointer;" onclick="nextMonth()">&#10095;</span></li>
				<li>
					<span id="month">August</span><br>
					<span id="year" style="font-size:18px">2021</span>
				</li>
			</ul>
		</div>

		<ul class="weekdays">
			<li>Mo</li>
			<li>Tu</li>
			<li>We</li>
			<li>Th</li>
			<li>Fr</li>
			<li>Sa</li>
			<li>Su</li>
		</ul>
		<ul style="cursor: pointer;" class="days">
		</ul>
	</div>
	<div class="dateInfo">
		<div class="dateHeader">
			<span id="dateLabel">Oktober 24.</span>
		</div>
		<div class="infoBox displayTimeSlots">

			<ul id="timeSlotView"></ul>

			@*<table id="timeSlotView">
					<tr>
						<td>Tid</td>
						<td>Pris</td>
					</tr>
					<tr>
						<td>Tid</td>
						<td>Pris</td>
					</tr>
					<tr>
						<td>Tid</td>
						<td>Pris</td>
					</tr>
				</table>*@
		</div>
		<div class="infoBox bookingForm">
			<form role="form" method="post">
				<input id="selectedDate" asp-for="Booking.timeSlot.date" type="date" style="display: none;" onchange="" />
				<label>Start</label><br />
				<input asp-for="Booking.startTime" type="time" /><br /><br />
				<label>Varighed</label><br />
				<select asp-for="Booking.duration">
					<option>15</option>
					<option>30</option>
					<option>45</option>
					<option>60</option>
					<option>120</option>
				</select><br /><br />
				<label>Emne</label><br />
				<select asp-for="Booking.topic">
					<option>Microsoft Project</option>
					<option>Projekt styring</option>
					<option>Andet</option>
				</select><br /><br />
				<input type="number" asp-for="Booking.timeSlot.standardPrice" />
				<label>Kommentar</label><br />
				<textarea asp-for="Booking.comment"></textarea><br /><br />
				<input type="submit" class="submit" />
			</form>
		</div>

	</div>
</div>

<script type="text/javascript">

    @{
		string json = JsonConvert.SerializeObject(Model.TimeSlots);
        @Html.Raw(string.Format("var timeSlots = {0};", json));
    }
    @*var timeSlots = @Html.Raw(Model.TimeSlots);*@
    date = new Date();
    DrawDates(date);


	console.log(timeSlots);

    var timeSlotView = document.getElementById("timeSlotView");

    timeSlots.forEach(item => InsertTimeSlot(item));

	function InsertTimeSlot(item) {
		console.log("foreach:" + item.timeSlotID);
        var timeSlotItem = document.createElement("li");

        var timeSlotTimeDiv = document.createElement("div");
        var endTime = new Date();
		timeSlotTimeDiv.innerHTML = item.start.toString().split("T")[1].slice(0, 5) + "-" + item.end.toString().split("T")[1].slice(0, 5);

        var timeSlotCostDiv = document.createElement("div");
		if (item.specialPrice > 0) { timeSlotCostDiv.innerHTML = item.specialPrice; }
        else { timeSLotCostDiv.innerHTML = item.standardPrice; }

		timeSlotItem.appendChild(timeSlotTimeDiv);
		timeSlotItem.appendChild(timeSlotCostDiv);

		timeSlotView.appendChild(timeSlotItem);
    };


    function SelectDate(clickedId) {
        if (document.getElementsByClassName("active").length > 0) {
            var oldEl = document.getElementsByClassName("active");
            oldEl[0].classList = "";
        }

        var el = document.getElementById(clickedId);
        el.classList += "active";

        date.setDate(clickedId);

        var selectedDate = document.getElementById("selectedDate");
        selectedDate.valueAsDate = date;

        var options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
        document.getElementById("dateLabel").innerHTML = date.toLocaleString('default', options);
    }

    function DrawDates(date) {
        removeDates();
        var ul = document.getElementsByClassName("days")[0];
        for (var d = 1; d <= daysInMonth(date.getMonth(), date.getYear() + 1900); d++) {
            var li = document.createElement("li");
            var span = document.createElement("span");
            span.setAttribute("id", d);
            span.setAttribute("class", "")
            span.onclick = function () { SelectDate(this.id) };
            span.innerHTML = d;
            span.setAttribute("style", "cursor: pointer;");
            li.appendChild(span);
            ul.appendChild(li);
        }
        updateMonthYear();

        var dateDay = parseInt(date.toLocaleString('default', { day: 'numeric' }));
        SelectDate(dateDay);
    }

    function daysInMonth(month, year) {
        return new Date(year, month +1, 0).getDate();
    }

    function prevMonth() {
        date.setMonth(date.getMonth() - 1);
        DrawDates(date);

    }
    function nextMonth() {
        date.setMonth(date.getMonth() + 1);
        DrawDates(date);

    }

    function updateMonthYear() {
        var monthElement = document.getElementById("month");
        const month = date.toLocaleString('default', { month: 'long' });
        monthElement.innerHTML = month;
        var yearElement = document.getElementById("year");
        const year = date.getYear() + 1900;
        yearElement.innerHTML = year;
    }

    function removeDates() {
        var ul = document.getElementsByClassName("days")[0];
        ul.innerHTML = "";
    }

    function filterTimeSlot()
    {
		// Declare variables
		var input, filter, ul, li, a, i, txtValue;
		input = document.getElementById('selectedDate');
		filter = input.value;
		ul = document.getElementById("timeSlotView");
		li = ul.getElementsByTagName('li');

		// Loop through all list items, and hide those who don't match the search query
        // TODO: skift til korrekte variabler
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			txtValue = a.textContent || a.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
    }

</script>



