@using Microsoft.AspNetCore.Identity
@using BookingSystem3.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@if (SignInManager.IsSignedIn(User))
{
    <p>@UserManager.GetUserId(User)</p>
}
