@model BookingSystem2.Models.Booking
@{
}
<head>
    <link rel="stylesheet" href="~/css/Calendar.css"/>
</head>
<h1>CSS Calendar</h1>
<div class="bookingContainer">
    <div class="calendar">
        <div class="month">
            <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>
                    August<br>
                    <span style="font-size:18px">2021</span>
                </li>
            </ul>
        </div>

        <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        <ul class="days">
            
        </ul>
    </div>
    <div class="dateInfo">
        <div class="dateHeader">
            <span>Oktober 24.</span>
        </div>
        <div class="infoBox displayTimeSlots">

            <table>
                <tr>
                    <td>Dato</td>
                    <td>Pris</td>
                </tr>
                <tr>
                    <td>Dato</td>
                    <td>Pris</td>
                </tr>
                <tr>
                    <td>Dato</td>
                    <td>Pris</td>
                </tr>
            </table>
        </div>
        <div class="infoBox bookingForm">
            <form role="form" method="post">
                <label>Start</label><br />
                <input asp-for="startTime" type="time" /><br /><br />
                <label>Varighed</label><br />
                <select asp-for="duration">
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                    <option>60</option>
                    <option>120</option>
                </select><br /><br />
                <label>Emne</label><br />
                <select asp-for="topic">
                    <option>Microsoft Project</option>
                    <option>Projekt styring</option>
                    <option>Andet</option>
                </select><br /><br />
                <label>Kommentar</label><br />
                <textarea asp-for="comment"></textarea><br /><br />
                <input type="submit" class="submit"/>
            </form>
        </div>

    </div>
</div>

<script>
    DrawDates();

    function SelectDate(clickedId) {
        if (document.getElementsByClassName("active").length > 0) {
            var oldEl = document.getElementsByClassName("active");
            oldEl[0].classList = "";
        }
        
        var el = document.getElementById(clickedId);
        el.classList += "active";
    }

    function DrawDates() {
        var ul = document.getElementsByClassName("days")[0];
        for(var d = 1; d <= daysInMonth(11, 2021); d++) {
            var li = document.createElement("li");
            var span = document.createElement("span");
            span.setAttribute("id", d);
            span.setAttribute("class", "")
            span.onclick = function() { SelectDate(this.id) };
            span.innerHTML = d;
            li.appendChild(span);
            ul.appendChild(li);
        }
    }

    function daysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }
</script>



