@page
@model BookingSystem.Pages.BookingModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Calendar.css"/>
</head>
<h1>CSS Calendar</h1>

<div class="month">
    <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>
            August<br>
            <span style="font-size:18px">2021</span>
        </li>
    </ul>
</div>

<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>

<ul class="days">
    <li><span class="">1</span></li>
    <li><span class="">2</span></li>
    <li><span class="">3</span></li>
    <li><span class="">4</span></li>
    <li><span class="">5</span></li>
    <li><span class="">6</span></li>
    <li><span class="">7</span></li>
    <li><span class="">8</span></li>
    <li><span class="">9</span></li>
    <li><span class="">10</span></li>
    <li><span class="">11</span></li>
    <li><span class="">12</span></li>
    <li><span class="">12</span></li>
    <li><span class="">13</span></li>
    <li><span class="">14</span></li>
    <li><span class="active">15</span></li>
    <li><span class="">16</span></li>
    <li><span class="">17</span></li>
    <li><span class="">18</span></li>
    <li><span class="">19</span></li>
    <li><span class="">20</span></li>
    <li><span class="">21</span></li>
    <li><span class="">22</span></li>
    <li><span class="">23</span></li>
    <li><span class="">24</span></li>
    <li><span class="">25</span></li>
    <li><span class="">26</span></li>
    <li><span class="">27</span></li>
    <li><span class="">28</span></li>
    <li><span class="">29</span></li>
    <li><span class="">30</span></li>
</ul>

